<iqvia-footer bg-image="{{ module.bg_image.src }}">
  <img slot="logo" src="{{ module.logo.src }}" alt="{{ module.logo.alt }}" />

  <nav slot="menus">
    {% for menu in module.menus %}
    {% menu id="{{ menu.menu_id }}" max_levels=2 %}
    {% endfor %}
  </nav>

  <div slot="legal" class="flex flex-col md:flex-row gap-sm">
    <p class="fw-bold text-sm">{{ module.legal }}</p>
    {% for legal_link in module.legal_links %}
    {% if legal_link.link.url.href and legal_link.link_label %}
    {% set target = legal_link.link.open_in_new_tab ? "_blank" : "_self" %}
    <a href="{{ legal_link.link.url.href }}" class="text-sm" target="{{ target }}">{{ legal_link.link_label }}</a>
    {% endif %}
    {% endfor %}
  </div>

  <div slot="social">
    {% if module.social_links.facebook.url.href %}
    <a href="{{ module.social_links.facebook.url.href }}" target="_blank">
      <iqvia-icon icon="facebook"></iqvia-icon>
    </a>
    {% endif %}

    {% if module.social_links.twitter.url.href %}
    <a href="{{ module.social_links.twitter.url.href }}" target="_blank">
      <iqvia-icon icon="twitter"></iqvia-icon>
    </a>
    {% endif %}

    {% if module.social_links.instagram.url.href %}
    <a href="{{ module.social_links.instagram.url.href }}" target="_blank">
      <iqvia-icon icon="instagram"></iqvia-icon>
    </a>
    {% endif %}

    {% if module.social_links.linkedin.url.href %}
    <a href="{{ module.social_links.linkedin.url.href }}" target="_blank">
      <iqvia-icon icon="linkedin"></iqvia-icon>
    </a>
    {% endif %}
  </div>
</iqvia-footer>
