{# Hubl Imports #}
{% import '../../templates/macros.html' as macros %}

{% macro render_service_card(card) -%}
{% set img_styles = is_img_condensed ? "width:50%;aspect-ratio:1;object-fit:contain;" : "width:100%;aspect-ratio:3/2;object-fit:cover;border-radius:1rem;" -%}

<tui-content alignment="start" gap="base" style="width:24rem;max-width:100%;">
  {% if card.image.src %}
  <img slot="eyebrow" src="{{ card.image.src }}" alt="{{ card.image.alt }}" width="360" style="{{ img_styles }}">
  {% endif %}

  {% if card.title %}
  <h4 slot="title" class="text-lg text-iqvia-indigo fw-bold">{{ card.title }}</h4>
  {% endif %}

  {% if card.description %}
  <p slot="description">{{ card.description }}</p>
  {% endif %}

  {% if card.link.url.href and card.link_label %}
  {% set target = card.link.open_in_new_tab ? '_blank' : '_self' %}
  <a slot="cta" href="{{ card.link.url.href }}" class="button link" target="{{ target }}">{{ card.link_label or "Learn more" }}</a>
  {% endif %}
</tui-content>
{% endmacro -%}

{% if !module.settings.is_hidden %}

{# Carousel #}
{% if module.settings.is_carousel %}
<tui-container width="no-max">
  <iqvia-card-carousel id="{{ macros.generate_random_id()|trim }}">
    <div slot="title" class="text-iqvia-indigo">
      <p class="eyebrow">{{ module.eyebrow }}</p>
      <h3 class="fw-bold">{{ module.title }}</h3>
    </div>

    {% for card in module.cards %}
    {{ render_service_card(card) }}
    {% endfor %}

  </iqvia-card-carousel>
</tui-container>

{# Grid #}
{% else %}
<tui-container width="wide">
  <div class="basis-full text-iqvia-indigo">
    <p class="eyebrow">{{ module.eyebrow }}</p>
    <h3 class="fw-bold">{{ module.title }}</h3>
  </div>

  <div class="grid cols-1 sm:cols-2 md:cols-3 gap-md">
    {% for card in module.cards %}
    {{ render_service_card(card) }}
    {% endfor %}
  </div>
</tui-container>
{% endif %}

{% endif %}
