<!--
  templateType: page
  isAvailableForNewContent: true
  label: Tab Groups
-->

{# Tab Controls - all on template-level to allow for nested DND areas. #}
{% boolean "tab_1_enabled" label="Enable first tab?", value=True, no_wrapper=True, export_to_template_context=True %}
{% text "tab_1_label" label="Tab 1: Label", value="Tab Group 1", no_wrapper=True, export_to_template_context=True %}

{% boolean "tab_2_enabled" label="Enable second tab?", value=True, no_wrapper=True, export_to_template_context=True %}
{% text "tab_2_label" label="Tab 2: Label", value="Tab Group 2", no_wrapper=True, export_to_template_context=True %}

{% boolean "tab_3_enabled" label="Enable third tab?", value=True, no_wrapper=True, export_to_template_context=True %}
{% text "tab_3_label" label="Tab 3: Label", value="Tab Group 3", no_wrapper=True, export_to_template_context=True %}

{% boolean "tab_4_enabled" label="Enable fourth tab?", value=True, no_wrapper=True, export_to_template_context=True %}
{% text "tab_4_label" label="Tab 4: Label", value="Tab Group 4", no_wrapper=True, export_to_template_context=True %}

{% boolean "tab_5_enabled" label="Enable fifth tab?", value=True, no_wrapper=True, export_to_template_context=True %}
{% text "tab_5_label" label="Tab 5: Label", value="Tab Group 5", no_wrapper=True, export_to_template_context=True %}

{% choice "default_active_tab" label="Default active tab?", value="1", choices="1, 2, 3, 4, 5", no_wrapper=True,
export_to_template_context=True %}

{% macro is_tab_active(tab) %}
{{ tab == widget_data.default_active_tab.value ? 'active' : '' }}
{% endmacro %}

{# Template #}
{% extends "./layouts/base.html" %}
{% block body %}

<main>
  {% dnd_area 'top_dnd' %}
  {% end_dnd_area %}

  <tui-container gap="none">
    <tui-tab-group active-tab-index="{{ widget_data.default_active_tab.value - 1 }}">
      <div slot="options">
        {% if widget_data.tab_1_enabled.value %}
        <tui-tab-group-action tab-id="tab-group-1">
          <div class="tab-button" role="button">
            {{ widget_data.tab_1_label.value }}
          </div>
        </tui-tab-group-action>
        {% endif %}

        {% if widget_data.tab_2_enabled.value %}
        <tui-tab-group-action tab-id="tab-group-2">
          <div class="tab-button" role="button">
            {{ widget_data.tab_2_label.value }}
          </div>
        </tui-tab-group-action>
        {% endif %}

        {% if widget_data.tab_3_enabled.value %}
        <tui-tab-group-action tab-id="tab-group-3">
          <div class="tab-button" role="button">
            {{ widget_data.tab_3_label.value }}
          </div>
        </tui-tab-group-action>
        {% endif %}

        {% if widget_data.tab_4_enabled.value %}
        <tui-tab-group-action tab-id="tab-group-4">
          <div class="tab-button" role="button">
            {{ widget_data.tab_4_label.value }}
          </div>
        </tui-tab-group-action>
        {% endif %}

        {% if widget_data.tab_5_enabled.value %}
        <tui-tab-group-action tab-id="tab-group-5">
          <div class="tab-button" role="button">
            {{ widget_data.tab_5_label.value }}
          </div>
        </tui-tab-group-action>
        {% endif %}
      </div>

      <div slot="tabs">
        {% if widget_data.tab_1_enabled.value %}
        <tui-tab tab-id="tab-group-1">
          {% dnd_area 'tab-group-1' %}
          {% end_dnd_area %}
        </tui-tab>
        {% endif %}

        {% if widget_data.tab_2_enabled.value %}
        <tui-tab tab-id="tab-group-2">
          {% dnd_area 'tab-group-2' %}
          {% end_dnd_area %}
        </tui-tab>
        {% endif %}

        {% if widget_data.tab_3_enabled.value %}
        <tui-tab tab-id="tab-group-3">
          {% dnd_area 'tab-group-3' %}
          {% end_dnd_area %}
        </tui-tab>
        {% endif %}

        {% if widget_data.tab_4_enabled.value %}
        <tui-tab tab-id="tab-group-4">
          {% dnd_area 'tab-group-4' %}
          {% end_dnd_area %}
        </tui-tab>
        {% endif %}

        {% if widget_data.tab_5_enabled.value %}
        <tui-tab tab-id="tab-group-5">
          {% dnd_area 'tab-group-5' %}
          {% end_dnd_area %}
        </tui-tab>
        {% endif %}
      </div>

    </tui-tab-group>
  </tui-container>

  {% dnd_area 'bottom_dnd' %}
  {% end_dnd_area %}
</main>

{% endblock body %}
