{% if !module.settings.is_hidden %}

{% set overlay = module.overlay ? "overlay" : null %}

<px-hero-banner {{ overlay }}>
  {# Background #}
  {% if module.bg_type == "image" and module.bg_image.src %}
  <img slot="background" src="{{ module.bg_image.src }}" alt="{{ module.bg_image.alt }}" width="1040" />
  {% elif module.bg_type == "video" and module.bg_video_url %}

  <video slot="background" autoplay loop muted playsinline>
    <source src="{{ module.bg_video_url }}" type="video/webm">
    <source src="{{ module.bg_video_url }}" type="video/mp4">
  </video>

  {% if module.video_speed %}
  {% require_js %}
  <script>
    /* Set video speed based on module input. */
    const video = document.querySelector('px-hero-banner video');
    video.playbackRate = "{{ module.video_speed }}";
  </script>
  {% end_require_js %}
  {% endif %}

  {% endif %}

  <tui-content class="text-white" slot="content" alignment="start" gap="md">

    {# Breadcrumbs #}
    {% if module.breadcrumbs|length %}
    <div slot="eyebrow" class="breadcrumbs">
      {% for crumb in module.breadcrumbs %}

      {% if !crumb.link.url.href %}
      <span class="fw-bold">{{ crumb.link_label }}</span>
      {% else %}
      {% set target = crumb.link.open_in_new_tab ? '_blank' : '_self' %}
      <a class="text-white" href="{{ crumb.link.url.href }}" target="{{ target }}">
        {{ crumb.link_label }}
      </a>
      {% endif %}

      {% if not loop.last %}
      <span>/</span>
      {% endif %}

      {% endfor %}
    </div>
    {% endif %}

    {% if module.title %}
    {% set is_h2 = module.as_h2 ? "as-h2" : undefined %}
    <h1 slot="title" class="fw-bold {{ is_h2 }}">{{ module.title }}</h1>
    {% endif %}

    {% if module.description %}
    <div slot="description" class="text-md">
      {{ module.description }}
    </div>
    {% endif %}

    {% if module.links|length > 0 %}
    <div slot="cta" class="flex flex-col md:flex-row gap-sm">
      {% for link in module.links %}
      {% if link.link.url.href and link.link_label %}
      <a class="button" href="{{ link.url.href }}">{{ link.link_label }}</a>
      {% endif %}
      {% endfor %}
    </div>
    {% endif %}

  </tui-content>
</px-hero-banner>

{% endif %}
