{% if !module.settings.is_hidden %}

{% set overlay = module.overlay ? "overlay" : null %}

<px-hero-banner {{ overlay }}>
  {% if module.img.src %}
  <img slot="background" src="{{ module.img.src }}" alt="{{ module.img.alt }}" />
  {% endif %}

  <tui-content class="text-white" slot="content" alignment="start" gap="md">
    {# Background #}
    {% if module.bg_image.src %}
    <img slot="background" src="{{ module.bg_image.src }}" alt="{{ module.bg_image.alt }}" width="1240" />
    {% endif %}

    {# Breadcrumbs #}
    {% if module.breadcrumbs|length %}
    <div slot="eyebrow" class="breadcrumbs">
      {% for crumb in module.breadcrumbs %}

      {% if !crumb.link.url.href %}
      <span class="fw-bold">{{ crumb.link_label }}</span>
      {% else %}
      {% set target = crumb.link.open_in_new_tab ? '_blank' : '_self' %}
      <a class="theme-white" href="{{ crumb.link.url.href }}" target="{{ target }}">
        {{ crumb.link_label }}
      </a>
      {% endif %}

      {% if not loop.last %}
      <span>/</span>
      {% endif %}

      {% endfor %}
    </div>
    {% endif %}

    {% if module.title %}
    {% set is_h2 = module.as_h2 ? "as-h2" : undefined %}
    <h1 slot="title" class="fw-bold {{ is_h2 }}">{{ module.title }}</h1>
    {% endif %}

    {% if module.description %}
    <div slot="description" class="text-md">
      {{ module.description }}
    </div>
    {% endif %}

    {% if module.links|length > 0 %}
    <div slot="cta" class="flex flex-col md:flex-row gap-sm">
      {% for link in module.links %}
      {% if link.url.href and link.link_label %}
      <a class="button" href="{{ link.url.href }}">{{ link.link_label }}</a>
      {% endif %}
      {% endfor %}
    </div>
    {% endif %}

  </tui-content>
</px-hero-banner>

{% endif %}
