{% if !module.settings.is_hidden %}

{% set related_posts = [] %}


{% set blog_id = module.blog or content.parent_blog.id or "default" %}

{% set blog = blog_by_id(blog_id) %}
{% set tag_list = module.filter_by_tags|map('tag') or content.tagList|map('slug') %}
{% set posts = tag_list|length > 0 ? blog_recent_tag_posts(blog_id, tag_list, 4) : blog_recent_posts(blog_id, 4) %}

{% for post in posts %}
{% if related_posts|length < module.posts_to_display && post.id !=content.id %}
{% do related_posts.append(post) %}
{% endif %}
{% endfor %}

{% if related_posts|length > 0 %}

<tui-container gap="base" width="{{ module.settings.width }}">

  {% if module.title %}
  <h3 class="basis-full fw-bold text-center">{{ module.title }}</h3>
  {% endif %}

  <px-card-carousel>
    {% for post in related_posts %}

    <px-article-card href="{{ post.absolute_url }}">
      {% if module.display_image %}
      <img src="{{ post.featured_image }}" alt="{{ post.title }}" slot="media" width="360" />
      {% endif %}
      <p slot="date">{{ post.publish_date|datetimeformat("%B %e, %Y") }}</p>
      <div slot="tags">
        {% for tag in post.tag_list %}
        <a class="tag" href="/blog?topic={{ tag.slug }}">{{ tag.name }}{{ !loop.last ? "," : null }}</a>
        {% endfor %}
      </div>
      <h5 slot="title" class="fw-bold">{{ post.name }}</h5>
      <span slot="description">{{ post.meta_description|truncate(80) }}</span>
    </px-article-card>

    {% endfor %}

    {% if blog %}
    <a slot="action" class="button outlined theme-light-blue" href="{{ blog.absolute_url }}">
      {{ module.blog_link_label }}
    </a>
    {% endif %}

  </px-card-carousel>

  {% endif %}
</tui-container>

{% endif %}
